In [22]:
import numpy as np
import pandas as pd

In [23]:
data = np.random.randint(70, 100, (30, 6))
data

array([[71, 97, 95, 89, 79, 94],
       [75, 92, 75, 84, 92, 89],
       [98, 95, 99, 76, 99, 76],
       [86, 78, 89, 80, 74, 89],
       [72, 92, 98, 96, 94, 73],
       [78, 90, 83, 77, 74, 97],
       [93, 85, 81, 78, 83, 80],
       [73, 94, 84, 98, 78, 73],
       [73, 96, 86, 78, 99, 85],
       [84, 95, 88, 98, 84, 78],
       [76, 91, 86, 92, 75, 89],
       [75, 79, 82, 98, 70, 77],
       [89, 98, 73, 72, 96, 81],
       [77, 81, 85, 97, 98, 92],
       [96, 73, 79, 97, 95, 70],
       [88, 93, 76, 90, 72, 89],
       [76, 72, 83, 93, 96, 71],
       [83, 98, 83, 73, 79, 97],
       [83, 71, 74, 92, 93, 79],
       [96, 98, 79, 91, 70, 70],
       [70, 85, 86, 97, 95, 92],
       [83, 72, 82, 75, 99, 75],
       [70, 74, 78, 73, 70, 89],
       [85, 77, 72, 76, 93, 74],
       [87, 84, 74, 72, 98, 81],
       [80, 99, 94, 72, 97, 78],
       [96, 99, 77, 95, 97, 86],
       [79, 96, 75, 80, 78, 93],
       [78, 77, 80, 75, 82, 88],
       [98, 71, 81, 88, 87, 80]])

In [68]:
index = ["0" + str(30200 + i) for i in range(len(data))]
classes = ['语文','数学','英语','物理', '化学', '计算机']
# t
df = pd.DataFrame(data, index=index, columns=classes)
df

        语文  数学  英语  物理  化学  计算机
030200  71  97  95  89  79   94
030201  75  92  75  84  92   89
030202  98  95  99  76  99   76
030203  86  78  89  80  74   89
030204  72  92  98  96  94   73
030205  78  90  83  77  74   97
030206  93  85  81  78  83   80
030207  73  94  84  98  78   73
030208  73  96  86  78  99   85
030209  84  95  88  98  84   78
030210  76  91  86  92  75   89
030211  75  79  82  98  70   77
030212  89  98  73  72  96   81
030213  77  81  85  97  98   92
030214  96  73  79  97  95   70
030215  88  93  76  90  72   89
030216  76  72  83  93  96   71
030217  83  98  83  73  79   97
030218  83  71  74  92  93   79
030219  96  98  79  91  70   70
030220  70  85  86  97  95   92
030221  83  72  82  75  99   75
030222  70  74  78  73  70   89
030223  85  77  72  76  93   74
030224  87  84  74  72  98   81
030225  80  99  94  72  97   78
030226  96  99  77  95  97   86
030227  79  96  75  80  78   93
030228  78  77  80  75  82   88
030229  98  71  81  88  87   80

In [61]:
df.values

array([[71, 97, 95, 89, 79, 94],
       [75, 92, 75, 84, 92, 89],
       [98, 95, 99, 76, 99, 76],
       [86, 78, 89, 80, 74, 89],
       [72, 92, 98, 96, 94, 73],
       [78, 90, 83, 77, 74, 97],
       [93, 85, 81, 78, 83, 80],
       [73, 94, 84, 98, 78, 73],
       [73, 96, 86, 78, 99, 85],
       [84, 95, 88, 98, 84, 78],
       [76, 91, 86, 92, 75, 89],
       [75, 79, 82, 98, 70, 77],
       [89, 98, 73, 72, 96, 81],
       [77, 81, 85, 97, 98, 92],
       [96, 73, 79, 97, 95, 70],
       [88, 93, 76, 90, 72, 89],
       [76, 72, 83, 93, 96, 71],
       [83, 98, 83, 73, 79, 97],
       [83, 71, 74, 92, 93, 79],
       [96, 98, 79, 91, 70, 70],
       [70, 85, 86, 97, 95, 92],
       [83, 72, 82, 75, 99, 75],
       [70, 74, 78, 73, 70, 89],
       [85, 77, 72, 76, 93, 74],
       [87, 84, 74, 72, 98, 81],
       [80, 99, 94, 72, 97, 78],
       [96, 99, 77, 95, 97, 86],
       [79, 96, 75, 80, 78, 93],
       [78, 77, 80, 75, 82, 88],
       [98, 71, 81, 88, 87, 80]])

In [62]:
df.index

Index(['030200', '030201', '030202', '030203', '030204', '030205', '030206',
       '030207', '030208', '030209', '030210', '030211', '030212', '030213',
       '030214', '030215', '030216', '030217', '030218', '030219', '030220',
       '030221', '030222', '030223', '030224', '030225', '030226', '030227',
       '030228', '030229'],
      dtype='object')

In [63]:
df.columns

Index(['语文', '数学', '英语', '物理', '化学', '计算机'], dtype='object')

In [64]:
df.shape

(30, 6)

In [65]:
df.dtypes

语文     int32
数学     int32
英语     int32
物理     int32
化学     int32
计算机    int32
dtype: object

In [66]:
df["数学"]

030200    97
030201    92
030202    95
030203    78
030204    92
030205    90
030206    85
030207    94
030208    96
030209    95
030210    91
030211    79
030212    98
030213    81
030214    73
030215    93
030216    72
030217    98
030218    71
030219    98
030220    85
030221    72
030222    74
030223    77
030224    84
030225    99
030226    99
030227    96
030228    77
030229    71
Name: 数学, dtype: int32

In [67]:
df.loc["030205"]

语文     78
数学     90
英语     83
物理     77
化学     74
计算机    97
Name: 030205, dtype: int32

In [ ]:
df.index["总成绩"] = df["数学"]