In [13]:
import numpy as np
import pandas as pd

In [14]:
data = np.random.randint(70, 100, (30, 6))
data

array([[80, 84, 95, 87, 99, 87],
       [70, 87, 87, 74, 75, 71],
       [85, 78, 85, 90, 78, 95],
       [95, 77, 87, 93, 72, 79],
       [80, 95, 94, 88, 82, 70],
       [81, 88, 92, 81, 73, 99],
       [73, 81, 71, 73, 91, 76],
       [71, 92, 76, 77, 78, 78],
       [92, 95, 86, 76, 89, 87],
       [73, 92, 80, 89, 77, 97],
       [81, 97, 75, 75, 99, 80],
       [81, 91, 79, 83, 75, 85],
       [84, 83, 84, 84, 75, 81],
       [81, 70, 91, 90, 74, 82],
       [95, 92, 99, 83, 94, 97],
       [85, 99, 87, 73, 99, 93],
       [86, 70, 89, 78, 82, 81],
       [72, 89, 82, 97, 93, 91],
       [75, 71, 74, 94, 97, 71],
       [82, 92, 95, 76, 82, 96],
       [89, 79, 89, 72, 75, 89],
       [81, 96, 99, 76, 81, 95],
       [95, 84, 97, 76, 97, 98],
       [85, 95, 84, 71, 75, 79],
       [72, 98, 87, 94, 86, 86],
       [73, 89, 75, 77, 87, 73],
       [72, 81, 95, 83, 87, 90],
       [96, 86, 86, 78, 99, 70],
       [77, 99, 99, 90, 96, 92],
       [81, 94, 84, 99, 97, 92]])

In [15]:
index = ["0" + str(30200 + i) for i in range(len(data))]
classes = ['语文','数学','英语','物理', '化学', '计算机']
# t
df = pd.DataFrame(data, index=index, columns=classes)
df

        语文  数学  英语  物理  化学  计算机
030200  80  84  95  87  99   87
030201  70  87  87  74  75   71
030202  85  78  85  90  78   95
030203  95  77  87  93  72   79
030204  80  95  94  88  82   70
030205  81  88  92  81  73   99
030206  73  81  71  73  91   76
030207  71  92  76  77  78   78
030208  92  95  86  76  89   87
030209  73  92  80  89  77   97
030210  81  97  75  75  99   80
030211  81  91  79  83  75   85
030212  84  83  84  84  75   81
030213  81  70  91  90  74   82
030214  95  92  99  83  94   97
030215  85  99  87  73  99   93
030216  86  70  89  78  82   81
030217  72  89  82  97  93   91
030218  75  71  74  94  97   71
030219  82  92  95  76  82   96
030220  89  79  89  72  75   89
030221  81  96  99  76  81   95
030222  95  84  97  76  97   98
030223  85  95  84  71  75   79
030224  72  98  87  94  86   86
030225  73  89  75  77  87   73
030226  72  81  95  83  87   90
030227  96  86  86  78  99   70
030228  77  99  99  90  96   92
030229  81  94  84  99  97   92

In [16]:
df.values

array([[80, 84, 95, 87, 99, 87],
       [70, 87, 87, 74, 75, 71],
       [85, 78, 85, 90, 78, 95],
       [95, 77, 87, 93, 72, 79],
       [80, 95, 94, 88, 82, 70],
       [81, 88, 92, 81, 73, 99],
       [73, 81, 71, 73, 91, 76],
       [71, 92, 76, 77, 78, 78],
       [92, 95, 86, 76, 89, 87],
       [73, 92, 80, 89, 77, 97],
       [81, 97, 75, 75, 99, 80],
       [81, 91, 79, 83, 75, 85],
       [84, 83, 84, 84, 75, 81],
       [81, 70, 91, 90, 74, 82],
       [95, 92, 99, 83, 94, 97],
       [85, 99, 87, 73, 99, 93],
       [86, 70, 89, 78, 82, 81],
       [72, 89, 82, 97, 93, 91],
       [75, 71, 74, 94, 97, 71],
       [82, 92, 95, 76, 82, 96],
       [89, 79, 89, 72, 75, 89],
       [81, 96, 99, 76, 81, 95],
       [95, 84, 97, 76, 97, 98],
       [85, 95, 84, 71, 75, 79],
       [72, 98, 87, 94, 86, 86],
       [73, 89, 75, 77, 87, 73],
       [72, 81, 95, 83, 87, 90],
       [96, 86, 86, 78, 99, 70],
       [77, 99, 99, 90, 96, 92],
       [81, 94, 84, 99, 97, 92]])

In [17]:
df.index

Index(['030200', '030201', '030202', '030203', '030204', '030205', '030206',
       '030207', '030208', '030209', '030210', '030211', '030212', '030213',
       '030214', '030215', '030216', '030217', '030218', '030219', '030220',
       '030221', '030222', '030223', '030224', '030225', '030226', '030227',
       '030228', '030229'],
      dtype='object')

In [18]:
df.columns

Index(['语文', '数学', '英语', '物理', '化学', '计算机'], dtype='object')

In [19]:
df.shape

(30, 6)

In [20]:
df.dtypes

语文     int32
数学     int32
英语     int32
物理     int32
化学     int32
计算机    int32
dtype: object

In [21]:
df["数学"]

030200    84
030201    87
030202    78
030203    77
030204    95
030205    88
030206    81
030207    92
030208    95
030209    92
030210    97
030211    91
030212    83
030213    70
030214    92
030215    99
030216    70
030217    89
030218    71
030219    92
030220    79
030221    96
030222    84
030223    95
030224    98
030225    89
030226    81
030227    86
030228    99
030229    94
Name: 数学, dtype: int32

In [22]:
df.loc["030205"]

语文     81
数学     88
英语     92
物理     81
化学     73
计算机    99
Name: 030205, dtype: int32

In [23]:
df_cp = df.copy()
df_cp["总成绩"] = df_cp.sum(axis=1)
df_cp

        语文  数学  英语  物理  化学  计算机  总成绩
030200  80  84  95  87  99   87  532
030201  70  87  87  74  75   71  464
030202  85  78  85  90  78   95  511
030203  95  77  87  93  72   79  503
030204  80  95  94  88  82   70  509
030205  81  88  92  81  73   99  514
030206  73  81  71  73  91   76  465
030207  71  92  76  77  78   78  472
030208  92  95  86  76  89   87  525
030209  73  92  80  89  77   97  508
030210  81  97  75  75  99   80  507
030211  81  91  79  83  75   85  494
030212  84  83  84  84  75   81  491
030213  81  70  91  90  74   82  488
030214  95  92  99  83  94   97  560
030215  85  99  87  73  99   93  536
030216  86  70  89  78  82   81  486
030217  72  89  82  97  93   91  524
030218  75  71  74  94  97   71  482
030219  82  92  95  76  82   96  523
030220  89  79  89  72  75   89  493
030221  81  96  99  76  81   95  528
030222  95  84  97  76  97   98  547
030223  85  95  84  71  75   79  489
030224  72  98  87  94  86   86  523
030225  73  89  75  77  87   73  474
030226  72  81  95  83  87   90  508
030227  96  86  86  78  99   70  515
030228  77  99  99  90  96   92  553
030229  81  94  84  99  97   92  547

In [24]:
df_cp2 = df_cp.sort_values(by = '总成绩', ascending=False)
df_cp2[0:10]

        语文  数学  英语  物理  化学  计算机  总成绩
030214  95  92  99  83  94   97  560
030228  77  99  99  90  96   92  553
030229  81  94  84  99  97   92  547
030222  95  84  97  76  97   98  547
030215  85  99  87  73  99   93  536
030200  80  84  95  87  99   87  532
030221  81  96  99  76  81   95  528
030208  92  95  86  76  89   87  525
030217  72  89  82  97  93   91  524
030219  82  92  95  76  82   96  523

In [25]:
# "男" if 0.5 > np.random.random() else '女'
BData = [ "男" if 0.5 > np.random.random() else '女' for _ in range(len(index))]
BData

['女',
 '女',
 '男',
 '男',
 '女',
 '男',
 '男',
 '男',
 '女',
 '女',
 '男',
 '男',
 '女',
 '女',
 '女',
 '男',
 '男',
 '男',
 '女',
 '女',
 '女',
 '女',
 '男',
 '男',
 '女',
 '女',
 '男',
 '男',
 '男',
 '男']

In [26]:
df2 = pd.DataFrame(BData, index = index, columns=["性别"])
df2

       性别
030200  女
030201  女
030202  男
030203  男
030204  女
030205  男
030206  男
030207  男
030208  女
030209  女
030210  男
030211  男
030212  女
030213  女
030214  女
030215  男
030216  男
030217  男
030218  女
030219  女
030220  女
030221  女
030222  男
030223  男
030224  女
030225  女
030226  男
030227  男
030228  男
030229  男

In [27]:
df3 = pd.concat([df_cp, df2], axis=1)
df3

        语文  数学  英语  物理  化学  计算机  总成绩 性别
030200  80  84  95  87  99   87  532  女
030201  70  87  87  74  75   71  464  女
030202  85  78  85  90  78   95  511  男
030203  95  77  87  93  72   79  503  男
030204  80  95  94  88  82   70  509  女
030205  81  88  92  81  73   99  514  男
030206  73  81  71  73  91   76  465  男
030207  71  92  76  77  78   78  472  男
030208  92  95  86  76  89   87  525  女
030209  73  92  80  89  77   97  508  女
030210  81  97  75  75  99   80  507  男
030211  81  91  79  83  75   85  494  男
030212  84  83  84  84  75   81  491  女
030213  81  70  91  90  74   82  488  女
030214  95  92  99  83  94   97  560  女
030215  85  99  87  73  99   93  536  男
030216  86  70  89  78  82   81  486  男
030217  72  89  82  97  93   91  524  男
030218  75  71  74  94  97   71  482  女
030219  82  92  95  76  82   96  523  女
030220  89  79  89  72  75   89  493  女
030221  81  96  99  76  81   95  528  女
030222  95  84  97  76  97   98  547  男
030223  85  95  84  71  75   79  489  男
030224  72  98  87  94  86   86  523  女
030225  73  89  75  77  87   73  474  女
030226  72  81  95  83  87   90  508  男
030227  96  86  86  78  99   70  515  男
030228  77  99  99  90  96   92  553  男
030229  81  94  84  99  97   92  547  男

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 030200 to 030229
Data columns (total 8 columns):
语文     30 non-null int32
数学     30 non-null int32
英语     30 non-null int32
物理     30 non-null int32
化学     30 non-null int32
计算机    30 non-null int32
总成绩    30 non-null int64
性别     30 non-null object
dtypes: int32(6), int64(1), object(1)
memory usage: 1.4+ KB

In [29]:
df3.describe()

,语文,数学,英语,物理,化学,计算机,总成绩
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,81.433333,87.466667,86.766667,82.566667,85.466667,85.333333,509.033333
std,7.846296,8.581188,7.933705,8.190336,9.605075,9.233871,25.919615
min,70.000000,70.000000,71.000000,71.000000,72.000000,70.000000,464.000000
25%,73.500000,81.500000,82.500000,76.000000,75.500000,79.000000,489.500000
50%,81.000000,89.000000,87.000000,82.000000,84.000000,86.500000,508.500000
75%,85.000000,94.750000,93.500000,89.750000,95.500000,92.750000,524.750000
max,96.000000,99.000000,99.000000,99.000000,99.000000,99.000000,560.000000

In [30]:
def my_describe(x):
    return pd.Series(x.max(), index = ["max"])

df3.apply(my_describe)

     语文  数学  英语  物理  化学  计算机  总成绩 性别
max  96  99  99  99  99   99  560  男

In [31]:
df3.groupby(by='性别').sum()

      语文    数学    英语    物理    化学   计算机   总成绩
性别
女   1127  1223  1235  1160  1173  1182  7100
男   1316  1401  1368  1317  1391  1378  8171

In [32]:
df3.groupby(by='性别').mean()

       语文         数学         英语         物理         化学        计算机         总成绩
性别
女   80.50  87.357143  88.214286  82.857143  83.785714  84.428571  507.142857
男   82.25  87.562500  85.500000  82.312500  86.937500  86.125000  510.687500

In [7]:
# import seaborn as sns
# import sys
# titanic = sns.load_dataset('planets')
# titanic.head()

import seaborn as sb
df = sb.load_dataset('tips')
df.head()

URLError: <urlopen error [WinError 10054] 远程主机强迫关闭了一个现有的连接。>

In [4]:
import seaborn as sb
sb.get_dataset_names()

['anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'iris',
 'mpg',
 'planets',
 'tips',
 'titanic']