In [22]:
import numpy as np
import pandas as pd

In [23]:
data = np.random.randint(70, 100, (30, 6))
data

array([[71, 97, 95, 89, 79, 94],
       [75, 92, 75, 84, 92, 89],
       [98, 95, 99, 76, 99, 76],
       [86, 78, 89, 80, 74, 89],
       [72, 92, 98, 96, 94, 73],
       [78, 90, 83, 77, 74, 97],
       [93, 85, 81, 78, 83, 80],
       [73, 94, 84, 98, 78, 73],
       [73, 96, 86, 78, 99, 85],
       [84, 95, 88, 98, 84, 78],
       [76, 91, 86, 92, 75, 89],
       [75, 79, 82, 98, 70, 77],
       [89, 98, 73, 72, 96, 81],
       [77, 81, 85, 97, 98, 92],
       [96, 73, 79, 97, 95, 70],
       [88, 93, 76, 90, 72, 89],
       [76, 72, 83, 93, 96, 71],
       [83, 98, 83, 73, 79, 97],
       [83, 71, 74, 92, 93, 79],
       [96, 98, 79, 91, 70, 70],
       [70, 85, 86, 97, 95, 92],
       [83, 72, 82, 75, 99, 75],
       [70, 74, 78, 73, 70, 89],
       [85, 77, 72, 76, 93, 74],
       [87, 84, 74, 72, 98, 81],
       [80, 99, 94, 72, 97, 78],
       [96, 99, 77, 95, 97, 86],
       [79, 96, 75, 80, 78, 93],
       [78, 77, 80, 75, 82, 88],
       [98, 71, 81, 88, 87, 80]])

In [68]:
index = ["0" + str(30200 + i) for i in range(len(data))]
classes = ['语文','数学','英语','物理', '化学', '计算机']
# t
df = pd.DataFrame(data, index=index, columns=classes)
df

        语文  数学  英语  物理  化学  计算机
030200  71  97  95  89  79   94
030201  75  92  75  84  92   89
030202  98  95  99  76  99   76
030203  86  78  89  80  74   89
030204  72  92  98  96  94   73
030205  78  90  83  77  74   97
030206  93  85  81  78  83   80
030207  73  94  84  98  78   73
030208  73  96  86  78  99   85
030209  84  95  88  98  84   78
030210  76  91  86  92  75   89
030211  75  79  82  98  70   77
030212  89  98  73  72  96   81
030213  77  81  85  97  98   92
030214  96  73  79  97  95   70
030215  88  93  76  90  72   89
030216  76  72  83  93  96   71
030217  83  98  83  73  79   97
030218  83  71  74  92  93   79
030219  96  98  79  91  70   70
030220  70  85  86  97  95   92
030221  83  72  82  75  99   75
030222  70  74  78  73  70   89
030223  85  77  72  76  93   74
030224  87  84  74  72  98   81
030225  80  99  94  72  97   78
030226  96  99  77  95  97   86
030227  79  96  75  80  78   93
030228  78  77  80  75  82   88
030229  98  71  81  88  87   80

In [61]:
df.values

array([[71, 97, 95, 89, 79, 94],
       [75, 92, 75, 84, 92, 89],
       [98, 95, 99, 76, 99, 76],
       [86, 78, 89, 80, 74, 89],
       [72, 92, 98, 96, 94, 73],
       [78, 90, 83, 77, 74, 97],
       [93, 85, 81, 78, 83, 80],
       [73, 94, 84, 98, 78, 73],
       [73, 96, 86, 78, 99, 85],
       [84, 95, 88, 98, 84, 78],
       [76, 91, 86, 92, 75, 89],
       [75, 79, 82, 98, 70, 77],
       [89, 98, 73, 72, 96, 81],
       [77, 81, 85, 97, 98, 92],
       [96, 73, 79, 97, 95, 70],
       [88, 93, 76, 90, 72, 89],
       [76, 72, 83, 93, 96, 71],
       [83, 98, 83, 73, 79, 97],
       [83, 71, 74, 92, 93, 79],
       [96, 98, 79, 91, 70, 70],
       [70, 85, 86, 97, 95, 92],
       [83, 72, 82, 75, 99, 75],
       [70, 74, 78, 73, 70, 89],
       [85, 77, 72, 76, 93, 74],
       [87, 84, 74, 72, 98, 81],
       [80, 99, 94, 72, 97, 78],
       [96, 99, 77, 95, 97, 86],
       [79, 96, 75, 80, 78, 93],
       [78, 77, 80, 75, 82, 88],
       [98, 71, 81, 88, 87, 80]])

In [62]:
df.index

Index(['030200', '030201', '030202', '030203', '030204', '030205', '030206',
       '030207', '030208', '030209', '030210', '030211', '030212', '030213',
       '030214', '030215', '030216', '030217', '030218', '030219', '030220',
       '030221', '030222', '030223', '030224', '030225', '030226', '030227',
       '030228', '030229'],
      dtype='object')

In [63]:
df.columns

Index(['语文', '数学', '英语', '物理', '化学', '计算机'], dtype='object')

In [64]:
df.shape

(30, 6)

In [65]:
df.dtypes

语文     int32
数学     int32
英语     int32
物理     int32
化学     int32
计算机    int32
dtype: object

In [66]:
df["数学"]

030200    97
030201    92
030202    95
030203    78
030204    92
030205    90
030206    85
030207    94
030208    96
030209    95
030210    91
030211    79
030212    98
030213    81
030214    73
030215    93
030216    72
030217    98
030218    71
030219    98
030220    85
030221    72
030222    74
030223    77
030224    84
030225    99
030226    99
030227    96
030228    77
030229    71
Name: 数学, dtype: int32

In [67]:
df.loc["030205"]

语文     78
数学     90
英语     83
物理     77
化学     74
计算机    97
Name: 030205, dtype: int32

In [74]:
df_cp = df.copy()
df_cp["总成绩"] = df_cp.sum(axis=1)
df_cp

        语文  数学  英语  物理  化学  计算机  总成绩
030200  71  97  95  89  79   94  525
030201  75  92  75  84  92   89  507
030202  98  95  99  76  99   76  543
030203  86  78  89  80  74   89  496
030204  72  92  98  96  94   73  525
030205  78  90  83  77  74   97  499
030206  93  85  81  78  83   80  500
030207  73  94  84  98  78   73  500
030208  73  96  86  78  99   85  517
030209  84  95  88  98  84   78  527
030210  76  91  86  92  75   89  509
030211  75  79  82  98  70   77  481
030212  89  98  73  72  96   81  509
030213  77  81  85  97  98   92  530
030214  96  73  79  97  95   70  510
030215  88  93  76  90  72   89  508
030216  76  72  83  93  96   71  491
030217  83  98  83  73  79   97  513
030218  83  71  74  92  93   79  492
030219  96  98  79  91  70   70  504
030220  70  85  86  97  95   92  525
030221  83  72  82  75  99   75  486
030222  70  74  78  73  70   89  454
030223  85  77  72  76  93   74  477
030224  87  84  74  72  98   81  496
030225  80  99  94  72  97   78  520
030226  96  99  77  95  97   86  550
030227  79  96  75  80  78   93  501
030228  78  77  80  75  82   88  480
030229  98  71  81  88  87   80  505

In [84]:
df_cp2 = df_cp.sort_values(by = '总成绩', ascending=False)
df_cp2[0:10]

        语文  数学  英语  物理  化学  计算机  总成绩
030226  96  99  77  95  97   86  550
030202  98  95  99  76  99   76  543
030213  77  81  85  97  98   92  530
030209  84  95  88  98  84   78  527
030200  71  97  95  89  79   94  525
030204  72  92  98  96  94   73  525
030220  70  85  86  97  95   92  525
030225  80  99  94  72  97   78  520
030208  73  96  86  78  99   85  517
030217  83  98  83  73  79   97  513

In [104]:
# "男" if 0.5 > np.random.random() else '女'
BData = [ "男" if 0.5 > np.random.random() else '女' for _ in range(len(index))]
BData

['女',
 '男',
 '女',
 '男',
 '男',
 '女',
 '女',
 '男',
 '男',
 '女',
 '男',
 '男',
 '女',
 '男',
 '女',
 '男',
 '男',
 '男',
 '女',
 '女',
 '女',
 '女',
 '男',
 '女',
 '男',
 '男',
 '男',
 '女',
 '男',
 '女']

In [111]:
df2 = pd.DataFrame(BData, index = index, columns=["性别"])
df2

       性别
030200  女
030201  男
030202  女
030203  男
030204  男
030205  女
030206  女
030207  男
030208  男
030209  女
030210  男
030211  男
030212  女
030213  男
030214  女
030215  男
030216  男
030217  男
030218  女
030219  女
030220  女
030221  女
030222  男
030223  女
030224  男
030225  男
030226  男
030227  女
030228  男
030229  女

In [143]:
df3 = pd.concat([df_cp, df2], axis=1)
df3

        语文  数学  英语  物理  化学  计算机  总成绩 性别
030200  71  97  95  89  79   94  525  女
030201  75  92  75  84  92   89  507  男
030202  98  95  99  76  99   76  543  女
030203  86  78  89  80  74   89  496  男
030204  72  92  98  96  94   73  525  男
030205  78  90  83  77  74   97  499  女
030206  93  85  81  78  83   80  500  女
030207  73  94  84  98  78   73  500  男
030208  73  96  86  78  99   85  517  男
030209  84  95  88  98  84   78  527  女
030210  76  91  86  92  75   89  509  男
030211  75  79  82  98  70   77  481  男
030212  89  98  73  72  96   81  509  女
030213  77  81  85  97  98   92  530  男
030214  96  73  79  97  95   70  510  女
030215  88  93  76  90  72   89  508  男
030216  76  72  83  93  96   71  491  男
030217  83  98  83  73  79   97  513  男
030218  83  71  74  92  93   79  492  女
030219  96  98  79  91  70   70  504  女
030220  70  85  86  97  95   92  525  女
030221  83  72  82  75  99   75  486  女
030222  70  74  78  73  70   89  454  男
030223  85  77  72  76  93   74  477  女
030224  87  84  74  72  98   81  496  男
030225  80  99  94  72  97   78  520  男
030226  96  99  77  95  97   86  550  男
030227  79  96  75  80  78   93  501  女
030228  78  77  80  75  82   88  480  男
030229  98  71  81  88  87   80  505  女

In [116]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 030200 to 030229
Data columns (total 7 columns):
语文     30 non-null int32
数学     30 non-null int32
英语     30 non-null int32
物理     30 non-null int32
化学     30 non-null int32
计算机    30 non-null int32
性别     30 non-null object
dtypes: int32(6), object(1)
memory usage: 2.4+ KB

In [119]:
df3.describe()

              语文         数学         英语         物理         化学        计算机
count  30.000000  30.000000  30.000000  30.000000  30.000000  30.000000
mean   82.266667  86.733333  82.566667  85.066667  86.533333  82.833333
std     8.851002  10.041065   7.204804   9.787160  10.533144   8.296586
min    70.000000  71.000000  72.000000  72.000000  70.000000  70.000000
25%    75.250000  77.250000  77.250000  76.000000  78.000000  76.250000
50%    81.500000  90.500000  82.000000  86.000000  89.500000  81.000000
75%    87.750000  95.750000  86.000000  94.500000  96.000000  89.000000
max    98.000000  99.000000  99.000000  98.000000  99.000000  97.000000

In [130]:
def my_describe(x):
    return pd.Series(x.max(), index = ["max"])

df3.apply(my_describe)

     语文  数学  英语  物理  化学  计算机 性别
max  98  99  99  98  99   97  男

In [144]:
df3.groupby(by='性别').sum()

      语文    数学    英语    物理    化学   计算机   总成绩
性别
女   1203  1203  1147  1186  1225  1139  7103
男   1265  1399  1330  1366  1371  1346  8077

In [145]:
df3.groupby(by='性别').mean()

           语文         数学         英语         物理       化学        计算机         总成绩
性别
女   85.928571  85.928571  81.928571  84.714286  87.5000  81.357143  507.357143
男   79.062500  87.437500  83.125000  85.375000  85.6875  84.125000  504.812500