# pandas series 
series 是带标签数据的一维数组  
##  series对象的创建 
通用结构: pd.Series(data, [index], [dtype])  
data: 数据，列表， 字典， numpy （支持多种数据类型） 空数据以NaN补上
index: 索引，头部
dtype:数据类型

In [2]:
import pandas as pd
data = pd.Series([1,2,3,4,5])
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
data = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
data = pd.Series([1,2,"c",4,5], index=['a', 'b', 'c', 'd', 'e'])
data

a    1
b    2
c    c
d    4
e    5
dtype: object

In [ ]:
data = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'], dtype="float")
data

In [19]:
# np数组
import numpy as np
ls = np.arange(5)
data = pd.Series(ls, index=['a', 'b', 'c', 'd', 'e'])
data

[0 1 2 3 4]

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [21]:
# 标量，复制
data = pd.Series(1, index=['a', 'b', 'c', 'd', 'e'], dtype="float")
data

a    1.0
b    1.0
c    1.0
d    1.0
e    1.0
dtype: float64

# DataFrame
带数据标签的多维数组
结构：pd.DataFrame(Data [,index] [,columns])
data: 数据列表
index:标签
colunms:列标签

In [22]:
# 通过series对象创建
population_dict = {"BeiJing": 2155, "ShangHai": 2424, "ShenZhen": 1303, "HangZhou":981}
population = pd.Series(population_dict)
population

BeiJing     2155
ShangHai    2424
ShenZhen    1303
HangZhou     981
dtype: int64

In [26]:
# 参数2
GDP_dict = {"BeiJing": 232, "ShangHai": 345, "ShenZhen": 934, "HangZhou":1455}
GDP = pd.Series(GDP_dict)
GDP

BeiJing      232
ShangHai     345
ShenZhen     934
HangZhou    1455
dtype: int64

In [25]:
# 默认补充0
pd.DataFrame(population)

             0
BeiJing   2155
ShangHai  2424
ShenZhen  1303
HangZhou   981

In [24]:
# 添加列名称
pd.DataFrame(population, columns=["population"])

          population
BeiJing         2155
ShangHai        2424
ShenZhen        1303
HangZhou         981

In [28]:
# 通过多个Serial字典生成
# 测试差异数据
GDP["test"] = 333
pd.DataFrame({"population":population, "GDP":GDP})

          population   GDP
BeiJing       2155.0   232
HangZhou       981.0  1455
ShangHai      2424.0   345
ShenZhen      1303.0   934
test             NaN   333